*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uber Move Text', sans-serif;    
    scroll-behavior: smooth;
    letter-spacing: 1px;
}
@font-face {
    font-family: 'UberMoveTextBold';
    src: url("fonts/UberMoveTextBold.otf");
}
@font-face {
    font-family: 'UberMoveTextLight';
    src: url("fonts/UberMoveTextLight.otf");
}
@font-face {
    font-family: 'UberMoveTextMedium';
    src: url("fonts/UberMoveTextMedium.otf");
}
@font-face {
    font-family: 'UberMoveTextRegular';
    src: url("fonts/UberMoveTextRegular.otf");
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    height: 70px;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;

}
.header .left{
    width: 34%;
    height: 50px;
    padding-left: 316px;
    /* text-align: initial; */
}
.header .left .main{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.header .left .main .list{
    font-size: 20px;
    color: white;
}

.header .left .main .list>a{
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
}
.header .right{
    width: 30%;
    height: 53px;
    padding-right: 260px;
    padding-top: 7px;
}
.list span{
    font-size: 1.4rem; 
    font-family: 'UberMoveTextRegular';
}
.header .right .main{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}
.header .right .main .list{
    font-size: 16px;
    color: white;
}
.header .right .main .list>a{
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.header .right .main .list>a.button{
    background-color: white;
    color: #000;
    padding: 10px 10px;
    border-radius: 18px;
}

a.button {}