*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uber Move Text', sans-serif;    
    scroll-behavior: smooth;
    letter-spacing: 1px;
}
img{
    width: 100%;
}
@font-face {
    font-family: 'UberMoveTextBold';
    src: url("fonts/UberMoveTextBold.otf");
}
@font-face {
    font-family: 'UberMoveTextLight';
    src: url("fonts/UberMoveTextLight.otf");
}
@font-face {
    font-family: 'UberMoveTextMedium';
    src: url("fonts/UberMoveTextMedium.otf");
}
@font-face {
    font-family: 'UberMoveTextRegular';
    src: url("fonts/UberMoveTextRegular.otf");
}
#home{
    background-color: black;
    height: 100vh;
    width: 100%;
}
.home{
    /* background-color: aliceblue; */
    width: 80%;
    height: 90%;
    margin: auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

#home .home .hleft {
    /* background-color: aqua; */
    height: 40%;
    position: relative;
}

#home .home .hleft h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    color: #fff;
    font-family: 'UberMoveTextBold';
}

#home .home .hleft p {font-size: 16px;font-weight: normal;line-height: 24px;padding-top: 23px;color: #fff;padding-bottom: 12px;}

#home .home .hleft .inputloction {padding-bottom: 15px;position: relative;margin-left: 0px;}

#home .home .hleft .inputloction input {border: none;/* height: 27px; *//* padding-top: 10px; *//* padding-bottom: 10px; */border-radius: 8px;padding-top: 15px;padding-bottom: 16px;padding-left: 36px;padding-right: 150px;}

#home .home .hleft .inputloction .pe-location-fetch {position: absolute;top: 16px;left: 340px;}

#home .home .hleft .inputloction .pe-location-fetch path {position: absolute;top: 14px;left: 10px;}

#home .home .hleft .inputdestination {padding-bottom: 15px;margin-left: 0px;position: relative;padding-bottom: 40px;}

#home .home .hleft .inputdestination input {border-radius: 8px;padding-top: 15px;padding-bottom: 10px;padding-left: 36px;padding-bottom: 16px;padding-right: 0;border: none;padding-right: 150px;}

#home .home .hleft .button {color: #000;background-color: #fff;font-size: 16px;font-weight: 500;line-height: 20px;padding-top: 14px;padding-bottom: 14px;padding-left: 25px;padding-right: 25px;border-radius: 8px;/* margin-top: 15px; *//* font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif; */}
#home .home .hleft a{
    
}
#home .home .hright { 

}

#home .home .hright .imagecontainer { 

}

#home .home .hright .imagecontainer img { 

}
#home .home .hleft .inputloction input:focus,
#home .home .hleft .inputdestination input:focus {
    outline: none;
}
.round{
    position: absolute;
    top: 13px;
    left: 5px;
}
.send{
    position: absolute;
    top: 13px;
    left: 335px;
}
.square{
    position: absolute;
    top: 13px;
    left: 5px;
    outline: none;
}

.line{
    border-left: 1px solid;
    height: 1px;
    width: 87px;
    background-color: #ffff;
    transform: rotate(90deg);
    position: absolute;
    top: 239px;
    right: 384px;
}