*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uber Move Text', sans-serif;    
    scroll-behavior: smooth;
    letter-spacing: 1px;
}
img{
    width: 100%;
}
@font-face {
    font-family: 'UberMoveTextBold';
    src: url("fonts/UberMoveTextBold.otf");
}
@font-face {
    font-family: 'UberMoveTextLight';
    src: url("fonts/UberMoveTextLight.otf");
}
@font-face {
    font-family: 'UberMoveTextMedium';
    src: url("fonts/UberMoveTextMedium.otf");
}
@font-face {
    font-family: 'UberMoveTextRegular';
    src: url("fonts/UberMoveTextRegular.otf");
}

#qrcode {height: 50vh;width: 100%;background-color: #e9e9e9;}

#qrcode .qr {width: 80%;height: 50vh;/* background-color: lightblue; */margin: 0 auto;}

#qrcode .qr .headings {width: 75%;margin: 0 auto;}

#qrcode .qr .headings .heading {font-size: 36px;font-weight: 800;line-height: 44px;font-family: 'UberMoveTextRegular';padding-top: 35px;}

#qrcode .qr .lowerqr {display: flex;justify-content: center;width: 80%;/* background-color: lightpink; */margin: 50px auto;}

#qrcode .qr .lowerqr .qrcodecontainerone,#qrcode .qr .lowerqr .qrcontainertwo {
    display: flex;
    align-items: center;
    background-color: #fff; 
    margin-right: 20px;
    padding: 20px;
    /* padding-top: 57px; */
    height: 230px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#qrcode .qr .lowerqr .qrcodecontainerone .imagecontainer,
#qrcode .qr .lowerqr .qrcontainertwo .imagecontainer  { 
    flex: 1;
}


#qrcode .qr .lowerqr .qrcodecontainerone .imagecontainer img,
#qrcode .qr .lowerqr .qrcontainertwo .imagecontainer img {
    width: 100%;
    height: auto;
}
#qrcode .qr .lowerqr .qrcodecontainerone .link,
#qrcode .qr .lowerqr .qrcontainertwo .link{
    flex: 2;
    padding-left: 110px;
}
#qrcode .qr .lowerqr .qrcodecontainerone .link h4,
#qrcode .qr .lowerqr .qrcontainertwo .link h4 {
    font-family: 'UberMoveTextBold';
    font-size: 18px;
}
#qrcode .qr .lowerqr .qrcodecontainerone .link p,
#qrcode .qr .lowerqr .qrcontainertwo .link p {
    font-family: 'UberMoveTextRegular';
    font-size: 14px;
    margin-top: 5px;
}

#qrcode .qr .lowerqr .qrcodecontainerone .fa-solid,
#qrcode .qr .lowerqr .qrcontainertwo .fa-solid {
    font-size: 20px;
    color: #000;
}